/* src/assets/styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
}

h1 {
  color: #42b983;
  padding-left: 4em;
  padding-top: 1em;
}

#app {
  text-align: left;
}

#HeaderNav {
  padding-left: 1em;
}
